body {
  text-align: center;
  background-color: rgb(228, 220, 210);
  color: rgb(108, 102, 102);


}
.choice-image {
  height: 100px;
}
.choice-image2 {
  height: 100px;
}
.choice-image3 {
  height: 100px;
}


.choice-button{
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(69, 165, 69);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image{
  height: 75px;
}

.reset-button{
  background-color: rgb(135, 186, 224);
  border: double;
}